@import '../../../../styles/base.scss';

.header-payment{
  background-color: var(--data-color-primary);
  justify-content: center;
  box-sizing: border-box;
  .container-small{
    height: 138px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    img:first-child{
      position: absolute;
      left:0;
      cursor: pointer;
    }
  }
}