form {
  width: 434px;
}
.form-field {
  margin-bottom: 24px;
}
.form-label {
  display: block;
  margin-bottom: 32px;
}
.form-field-select {
  width: 100%;
}
.form-split {
  display: flex;
  justify-content: space-between;
}
.form-split > section {
  width: 212px;
}
.form-button {
  bottom: 48px;
  position: absolute;
  right: 48px;
  width: 293px;
}
.form-button > section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}